.App
    text-align center

.App-logo
    animation App-logo-spin infinite 20s linear
    height 80px

.App-header
    background-color black
    color white
    height 200px
    padding 20px

.App-intro
    font-size large

@keyframes App-logo-spin {
    from {
        transform rotate( 0deg )
    }
    to {
        transform rotate( 360deg )
    }
}

h1.title
    color gray
    font-weight bold
    margin 100px 0
    text-transform uppercase
