.cart-block
    border 1px solid light-gray

    ul
        display inline
        width 100%

    .cart-header li
        border-bottom 1px solid light-gray;
        height 72px
        line-height 72px
        padding 0
        text-align center

    .cart-row li
        border-right 1px solid light-gray
        border-bottom 1px solid light-gray
        padding 10px
        text-align center
        height 100px

    .cart-row li:last-child
        border-right none

.cart-total
    font-size 2rem
    font-weight normal
    padding 40px 0
    text-align right

    ul
        background-color xx-light-gray
        padding 5px

        li span
            font-weight bold

    .cart-total-amount
        border-bottom 1px double black
