.App-login

    form
        width 250px
        margin auto

    .form-btn
        background red none repeat scroll 0 0
        border medium none
        border-radius 100px
        box-shadow 0 2px 8px light-gray
        color white
        font-weight 400
        margin-top: 30px
        max-width 250px
        padding 10px 0
        position relative
        width 100%

        &:before
            content ""
            font-family FontAwesome
            position absolute
            right 17px
            top 9px
