.App-menu
    background-color red
    color white
    font-size 13px
    font-weight 200
    margin-top 2px
    padding 20px 0
    text-align center
    text-transform uppercase

    ul
        margin 0
        padding 0

        li.customer
            border-bottom: 1px solid light-gray;
            margin-right 30%

        li
            display inline

            a
                color white
                padding 0 15px
                text-decoration none
