.product
    padding 30px 20px

    .product-content
        background-color x-light-gray
        border-radius b-radius
        min-height 450px
        padding 45px 35px

        .product-head
            background-color xx-light-gray
            border-radius b-radius
            color red
            min-height 210px
            padding 20px 10px

            .product-title
                font-weight bold
                font-size 4rem
                margin-bottom 40px

            .product-description
                font-size 1.5rem

        .product-price
            color black
            font-size 5.5rem
            font-weight bold
            padding 40px 0

        .qty
            color black
            font-size 2rem
            font-weight bold
            padding 0 20px

        .btn-qty
            border-radius border-radius
            padding 6px 14px