.rule-form, .rule-current
    padding 0 40px

    h3
        border-bottom 2px solid red
        padding-bottom 30px

.rule-form
    form
        padding 22px

        > div
            margin-bottom 25px

        .rule-discount-type input
            max-width 40px
            padding-left 5px

.rule-current
    ul
        width 100%

        li.rule-discount
            padding 15px 15px
            border-bottom 1px solid x-light-gray

            .rule-discount-product
                font-size 1.7rem
                font-weight bold

        li.rule-discount:last-child
            border-bottom none
