// Colours
white = #fff
red = #ea2349
black = #222
light-gray = #d2d2d2
x-light-gray = #f1f1f1
xx-light-gray = #fafafa
gray = #787878

// Sizes
b-radius = 4px

.btn-std, a.btn-std
    background-color red
    border 0 none
    border-radius b-radius
    color white
    cursor pointer
    display inline-block
    font-weight 400
    padding 7px 12px
    text-decoration none
    text-transform uppercase
    white-space nowrap

.App-page
    padding-bottom 40px

ol, ul
    list-style none
    margin 0
    padding 0

body
    font-family "Open Sans", sans-serif

// Import all partials
@require './_*.styl'
